<div>
  <h1 class="text-center text-body-tertiary">Async/Await</h1>
</div>
<div class="d-flex column-gap-3 mx-4 justify-content-equal">
  <div class="separate-div">
    <div class="card " style="width: 18rem; background-color: rgba(195, 86, 207, 0.603);">
      <div class="card-body">
        <h5 class="card-title text-white border-bottom text-center">Ex-01 : with Promise  </h5>
        <h6 class="card-subtitle mb-2 border-bottom text-body-secondary text-warning text-center">Simple promise</h6>
        <p class="card-text border-bottom ">Explained here</p>
        <button type="button" class="btn btn-dark bg-black bg-opacity-50" (click)="fetchData1()">Get data</button>
        <p>{{carData}}</p>
      </div>
    </div>
  </div>
  <div class="separate-div">
    <div class="card " style="width: 18rem; background-color: rgba(195, 86, 207, 0.603);">
      <div class="card-body">
        <h5 class="card-title text-white border-bottom text-center">Ex-02 : with Async/Await  </h5>
        <h6 class="card-subtitle mb-2 border-bottom text-body-secondary text-warning text-center">Using Async/Await key words</h6>
        <p class="card-text border-bottom ">concept is same as Ex-01, but we are using async and await here</p>
        <button type="button" class="btn btn-dark bg-black bg-opacity-50" (click)="fetchData2()">Get data</button>
        <p>{{dataForFetch2}}</p>
      </div>
    </div>
  </div>
  <div class="separate-div">
    <div class="card " style="width: 18rem; background-color: rgba(195, 86, 207, 0.603);">
      <div class="card-body">
        <h5 class="card-title text-white border-bottom text-center">Ex-03 : with featch API  </h5>
        <h6 class="card-subtitle mb-2 border-bottom text-body-secondary text-warning text-center">Using fetch api</h6>
        <p class="card-text border-bottom ">featching data form api</p>
        <button type="button" class="btn btn-dark bg-black bg-opacity-50" (click)="fetchData3()">Get data</button>
        <p>{{dataForFetch3}}</p>
      </div>
    </div>
  </div>
  <div class="separate-div">
    <div class="card " style="width: 18rem; background-color: rgba(195, 86, 207, 0.603);">
      <div class="card-body">
        <h5 class="card-title text-white border-bottom text-center">Ex-04 : async and await with featch API  </h5>
        <h6 class="card-subtitle mb-2 border-bottom text-body-secondary text-warning text-center">Using async and await with fetch api</h6>
        <p class="card-text border-bottom ">featching data form api, using async and await</p>
        <button type="button" class="btn btn-dark bg-black bg-opacity-50" (click)="fetchData4()">Get data</button>
        <p>{{dataForFetch4}}</p>
      </div>
    </div>
  </div>
</div>

