<nav class="navbar navbar-expand-lg  bg-black bg-opacity-50 ">
  <div class="container-fluid text-white ">
    <img src="/assets/cdnlogo.com_rxjs.svg" height="30px" width="30px" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white" routerLink="promiseImpl">Promise</a>
        <a class="nav-link text-white" href="#">Observable</a>

      </div>
    </div>
  </div>
</nav>
