<nav class="navbar navbar-expand-lg  bg-black bg-opacity-50 mb-2 ">
  <div class="container-fluid text-white ">
    <img class="mx-4" src="/assets/cdnlogo.com_rxjs.svg" height="30px" width="30px" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex column-gap-3">
        <button type="button" class="btn btn-outline-warning" routerLink="promiseImpl">promise</button>
        <button type="button" class="btn btn-outline-warning" routerLink="observable">observable</button>
      </div>
    </div>
  </div>
</nav>
